
<li>
  <article class="inv-item">
    <img class="inv-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
    <h3 class="inv-title"> {{ post.data.title }}</h3>
    <p class="inv-details">{{post.data.description}}</p>
   
  </article>
</li>