  <header>
    <div class="navbar">
      <div class="logo-main">
         <a href="index.html">
         <img class="main-logo-img" src="img/logo2.png" alt=""> 
          </a>
        </div>
      <nav class="nav-list">
        <ul class="nav-container">
          <li class="column-nav"><a href="index.html">Home</a></li>
          <li class="column-nav current"><a href="inventory.html">Vehicles for Sale</a></li>
          <li class="column-nav"><a href="about.html">About</a></li>
          <li class="column-nav"><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>