---
title: About | BBW
layout: 'base.njk'
---

  <section class="main-about">
    <div class="about-column"><h1><span class="prime">About</span>  our dealership</h1>
      {%- for post in collections.About1 -%}
        <p class="first-p-about"> {{ post.data.description }} </p>
      {%- endfor -%}
      {%- for post in collections.About2 -%}
        <p class="second-p-about"> {{ post.data.description }} </p>
      {%- endfor -%}
    <div class="about-column">
    <img class="about-carimg" src="/img/luxurycar.jpg" alt="DangProblem">
    </div>
  </section>

  <section id="testimonials">
    <div class="tests-container">
      <h1 class="prime">What Our Clients Say</h1>
      <div class="test-column">
        <img class="t1" src="/img/person-1.jpg" alt="">
        {%- for post in collections.Testimonial1 -%}
        <p> {{ post.data.description }} </p>
        {%- endfor -%}
      </div>
      <div class="test-column">
        <img src="/img/person-2.jpg" alt="">
        {%- for post in collections.Testimonial2 -%}
        <p> {{ post.data.description }} </p>
        {%- endfor -%}
      </div>
    </div>
  </section>
