---
title: Home | BBW
layout: 'base.njk'
---

  <section class="welcome-index darken">
    <h1 class="welcome-header">Big Bad</h1>
    <img class="welcome-header-img" src="./img/logo2.png" alt=""> 
    
      {%- for post in collections.HomeSlogan | reverse -%}
        <p>{{ post.data.description }}</p>
      {%- endfor -%}
    
    <button class="btn btn-welcome"> <a href="/About"> About our dealership</a> </button>
  </section>

  <section class="showcase showcase-container">
    <img src="img/hotrodmotor.jpg" alt="DangProblem">
    <div class="showcase-text">
      <h2><span class="prime">Who</span> are we</h3>
      {%- for post in collections.HomeWho | reverse -%}
        <p>{{ post.data.description }}</p>
      {%- endfor -%}
      <button class="btn btn-light"><a href="/About"> Read More</a></button>
    </div>
  </section>

  <section class="feats">
    <div class="box bg-light" >
      <i class="fa-solid fa-car fa-3x"></i>
      <h3>Quality Vehicles</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, omnis.</p>
    </div>
    <div class="box bg-prime">
      <i class="fa-solid fa-thumbs-up fa-3x"></i>
      <h3>Great Service</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, asperiores?</p>
    </div>
    <div class="box bg-light">
      <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
      <h3>Amazing Prices</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ipsam?</p>
    </div>
  </section>