---
title: Inventory | BBW
layout: 'base.njk'
---

<div class="main-inv">
  <h2 class="inv-header">Vehicles for Sale</h2>
    <ul class="sedans coupes inv-grid">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
</div>
