---
title: Inventory | BBW
layout: 'base.njk'
---

<div class="all-a-sec">
  <h2 class="all-header">Recent Articles</h2>
    <ul class="all-a-list">

      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
</div>
